

.background{
  background-color:rgb(7,3,27);
  height:100vh;
}

.banner{
  height: 8vh;
  margin-top:5px;
  margin-bottom:15px;
}
.bannerText{
  color: rgb(243,181,98);
  font: 900 30px Bungee Hairline;
}
.yellowRect{
  background-color:rgb(243,181,98);
  height:inherit;
}
.round{
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}

.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.custom-container {
      margin: 0 50px 0 50px;
      width: inherit;
    }
