

.background{
  background-color:rgb(7,3,27);
  height:100vh;
}

.banner{
  height: 8vh;
  margin-top:15px;
  margin-bottom:15px;
}
.underLine{
  height: 2vh;
  margin-top:7px;
  margin-bottom:15px;
}
.bannerText{
  color: rgb(243,181,98);
  /*font: 900 30px Bungee Hairline*/
  font: bold 45px Rajdhani;
}
.yellow{
  background-color:rgb(243,181,98);
  height:inherit;
}
.burgundy{
  background-color:rgb(140,90,80);
  height:inherit;
}
.teal{
  background-color:rgb(66,132,115);
  height:inherit;
}
.grassFaded{
  background-color:rgb(156,156,107);
  height:inherit;
}
.aqua{
  background-color:rgb(99,165,148);
  height:inherit;
}
.bordered-box {
  border: 30px solid grey;
  height: 300px;
  border-image: url("img/spaceBorders.png") 30 40 30 40;
}
.bordered-box.tall {
  height: 80%;
  width: 95%;
}
.round{
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}
img.small {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  margin: auto;
}
img.large {
  display: block;
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  width: auto;
  height: auto;
  margin: auto;
}
.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.custom-container {
      margin: 0 50px 0 50px;
      width: inherit;
    }
